@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.carta-main {
    background-color: v.$color-fondo-main;
    @include m.seccion-estandar; // Unifica paddings y responsive
    display: flex;
    flex-direction: column;
    gap: 3rem;

    // Sección de introducción
    section:first-child {
        @include m.intro-centrada; // Centra h4, h2 y p automáticamente
        
        h2 {
            margin-top: 0.5rem;
        }
    }

    .section-menu {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @include m.responder(desktop) {
            flex-direction: row; 
            align-items: flex-start;
            gap: 5%; // Espacio entre las dos tablas
        }

        div {
            flex: 1;
        }
    }

    .carta-titulo {
        font-family: v.$font-titulos;
        color: v.$color-primario;
        text-align: center;
        margin-bottom: 2rem;
        position: relative;
        padding-bottom: 10px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 2px;
            background-color: v.$color-secundario;
        }

        @include m.responder(tablet) {
            text-align: left;
            &::after {
                left: 0;
                transform: none;
            }
        }
    }

    // Estilización de la Tabla
    .table {
        --bs-table-bg: transparent; 
        margin-bottom: 0;
        
        thead th {
            font-family: v.$font-texto;
            text-transform: uppercase;
            font-size: 0.75rem;
            letter-spacing: 1.5px;
            color: v.$color-secundario;
            border-bottom: 2px solid v.$color-primario;
            padding-bottom: 1rem;
        }

        tbody td {
            padding: 1.2rem 0.5rem;
            vertical-align: middle;
            font-family: v.$font-texto;
            color: v.$color-oscuro;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);

            &:first-child {
                font-weight: 600; 
            }

            &:last-child {
                font-weight: bold;
                color: v.$color-primario; 
                text-align: right;
            }
        }

        tbody tr {
            transition: v.$transition-base; // Usamos tu variable global
            &:hover {
                background-color: rgba(v.$color-primario, 0.05);
            }
        }
    }
}