@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

footer {
    background-color: v.$color-oscuro;
    color: v.$color-blanco;
    // Usamos el mixin para que los bordes laterales coincidan con el resto del sitio
    @include m.seccion-estandar; 
    padding-bottom: 1.5rem; // Mantenemos un padding bajo al final
    display: flex;
    flex-direction: column;
    align-items: center;

    .index-footer-navegacion {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        width: 100%;
        max-width: 1100px;

        @include m.responder(tablet) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    .footer-descripcion {
        text-align: center;

        @include m.responder(tablet) {
            text-align: left;
            max-width: 300px;
        }

        .h3-footer {
            color: v.$color-primario;
            font-family: v.$font-titulos;
            font-size: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 1rem;
        }

        p {
            color: v.$color-texto;
            font-size: 0.9rem;
            line-height: 1.6;
            margin: 0 auto; // Centrado en mobile

            @include m.responder(tablet) {
                margin: 0;
            }
        }
    }

    .footer-links {
        display: flex;
        width: 100%;
        justify-content: space-around;

        @include m.responder(tablet) {
            width: auto;
            gap: 5rem;
            justify-content: flex-end;
        }

        h4 {
            // Hereda el estilo de base.scss pero ajustamos color y tamaño
            color: v.$color-blanco;
            font-size: 0.85rem;
            margin-bottom: 1.2rem;
        }

        li {
            margin-bottom: 0.6rem;
        }

        .footer-link {
            color: v.$color-texto;
            text-decoration: none;
            font-size: 0.9rem;
            font-family: v.$font-texto;
            transition: v.$transition-base;
            display: inline-block;

            &:hover {
                color: v.$color-primario;
                transform: translateX(5px);
            }
        }
    }

    .index-footer-derechos {
        width: 100%;
        max-width: 1100px;
        margin-top: 3rem;
        padding-top: 1.5rem;
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        text-align: center;

        p {
            color: rgba(v.$color-texto, 0.6);
            font-size: 0.8rem;
            max-width: 100%; // Sobrescribe el max-width de 500px del base.scss
            margin-bottom: 0;
        }
    }
}