@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../components/cards';

.index-main {
    background-color: v.$color-fondo-main;
    @include m.seccion-estandar;
    display: flex;
    flex-direction: column;

    @include m.responder(tablet) {
        flex-direction: row;
        align-items: flex-start;
        gap: 60px;
    }

    .index-main-fotos {
        margin-bottom: 2rem;
        display: flex;
        gap: 10px;
        flex-direction: column;

        img {
            @extend %imagen-estetica !optional;
            max-width: 500px;
        }

        // Pisamos el display de la segunda imagen específicamente
        .img-interior-cafeteria {
            display: none; 

            @include m.responder(tablet) {
                display: block;
                margin-top: -40px; // Un poco menos de margen para que no flote tanto
                margin-left: 30px;
            }
        }
    }

    .index-main-historia {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }

    article {
        border-left: 3px solid v.$color-primario;
        padding-left: 1rem;
        transition: v.$transition-base;

        &:hover {
            border-left-color: v.$color-secundario;
            padding-left: 1.2rem;
        }
        
        p { 
            font-size: 1rem; 
            margin-bottom: 0;
        }
    }
}