@use '../abstracts/variables' as v;

.boton-marron {
  background-color: v.$color-primario;
  color: v.$color-blanco;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: v.$border-radius-sm;
  font-family: v.$font-texto;
  cursor: pointer;
  transition: v.$transition-base;

  &:hover {
    background-color: #6d4621;
    transform: translateY(-2px);
  }
}

.boton-blanco {
  background-color: transparent;
  color: v.$color-oscuro;
  border: 1px solid v.$color-oscuro;
  padding: 0.6rem 1.2rem;
  border-radius: v.$border-radius-sm;
  font-family: v.$font-texto;
  cursor: pointer;
  transition: v.$transition-base;

  &:hover {
    background-color: v.$color-oscuro;
    color: v.$color-blanco;
    transform: translateY(-2px);
  }
}